In [1]:
import pandas as pd
import numpy as np

In [2]:
data_d = pd.DataFrame({
    '패션아이템': ['팬츠', '팬츠', '자켓', '자켓', '자켓'],
    '스타일': ['캐주얼', '캐주얼', '캐주얼', '비지니스룩', '비지니스룩'],
    '선호도(5점 만점)': [4, 4, 3.5, 4.2, 2.7]
})
data_d

  패션아이템    스타일  선호도(5점 만점)
0    팬츠    캐주얼         4.0
1    팬츠    캐주얼         4.0
2    자켓    캐주얼         3.5
3    자켓  비지니스룩         4.2
4    자켓  비지니스룩         2.7

In [6]:
data_d.duplicated()

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [10]:
data_d.duplicated(keep='first')

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [9]:
data_d.duplicated(keep=False)

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [15]:
data_d.duplicated(keep=False).value_counts()

False    3
True     2
dtype: int64

In [11]:
data_d.duplicated(subset=['스타일'])

0    False
1     True
2     True
3    False
4     True
dtype: bool

In [12]:
data_d.duplicated(subset=['스타일']).value_counts()

True     3
False    2
dtype: int64

In [16]:
data_d.drop_duplicates()

  패션아이템    스타일  선호도(5점 만점)
0    팬츠    캐주얼         4.0
2    자켓    캐주얼         3.5
3    자켓  비지니스룩         4.2
4    자켓  비지니스룩         2.7

In [14]:
data_d.drop_duplicates(subset=['패션아이템', '스타일'], keep='last')

  패션아이템    스타일  선호도(5점 만점)
1    팬츠    캐주얼         4.0
2    자켓    캐주얼         3.5
4    자켓  비지니스룩         2.7

In [3]:
data_c = pd.DataFrame({    
    '패션아이템': ['팬츠', '팬츠', '자켓', '자켓', '팬츠'],
    '선호도': [1.0, 2.0, 3.0, np.nan, 5.0],
    '평점': [1.0, 2.0, 3.0, 4.0, 5.0]
}) 
data_c

  패션아이템  선호도   평점
0    팬츠  1.0  1.0
1    팬츠  2.0  2.0
2    자켓  3.0  3.0
3    자켓  NaN  4.0
4    팬츠  5.0  5.0

In [5]:
data_c_2 = data_c.copy()
data_c_2.loc[0, '패션아이템'] = '스커트'
data_c_2.loc[2, '평점'] = 4.0
data_c_2

  패션아이템  선호도   평점
0   스커트  1.0  1.0
1    팬츠  2.0  2.0
2    자켓  3.0  4.0
3    자켓  NaN  4.0
4    팬츠  5.0  5.0

In [12]:
data_c.compare(data_c_2)

  패션아이템         평점
   self other self other
0    팬츠   스커트  NaN   NaN
2   NaN   NaN  3.0   4.0

In [8]:
data_c.compare(data_c_2, keep_equal=True)

  패션아이템         평점
   self other self other
0    팬츠   스커트  1.0   1.0
2    자켓    자켓  3.0   4.0

In [7]:
data_c.compare(data_c_2, align_axis=0)

        패션아이템   평점
0 self     팬츠  NaN
  other   스커트  NaN
2 self    NaN  3.0
  other   NaN  4.0

In [10]:
data_c.compare(data_c_2, keep_shape=True)

  패션아이템        선호도         평점
   self other self other self other
0    팬츠   스커트  NaN   NaN  NaN   NaN
1   NaN   NaN  NaN   NaN  NaN   NaN
2   NaN   NaN  NaN   NaN  3.0   4.0
3   NaN   NaN  NaN   NaN  NaN   NaN
4   NaN   NaN  NaN   NaN  NaN   NaN

In [9]:
data_c.compare(data_c_2, keep_shape=True, keep_equal=True)

  패션아이템        선호도         평점
   self other self other self other
0    팬츠   스커트  1.0   1.0  1.0   1.0
1    팬츠    팬츠  2.0   2.0  2.0   2.0
2    자켓    자켓  3.0   3.0  3.0   4.0
3    자켓    자켓  NaN   NaN  4.0   4.0
4    팬츠    팬츠  5.0   5.0  5.0   5.0

In [2]:
data_e = pd.DataFrame({    
    '패션아이템': ['팬츠', '스커트', '자켓', '티셔츠', '블라우스', '베스트'],
    '평점': [3.0, 5.0, 7.0, 5.0, 2.0, 4.0]
}) 
data_e

  패션아이템   평점
0    팬츠  3.0
1   스커트  5.0
2    자켓  7.0
3   티셔츠  5.0
4  블라우스  2.0
5   베스트  4.0

In [25]:
data_e_2 = pd.DataFrame({    
    '패션아이템': ['팬츠', '스커트', '자켓', '티셔츠', '블라우스', '베스트', '패딩'],
    '평점': [3.0, 6.0, 7.0, 3.0, 2.0, 4.0, 8.0]
}) 
data_e_2

  패션아이템   평점
0    팬츠  3.0
1   스커트  6.0
2    자켓  7.0
3   티셔츠  3.0
4  블라우스  2.0
5   베스트  4.0
6    패딩  8.0

In [26]:
data_e.eq(data_e_2)

   패션아이템     평점
0   True   True
1   True  False
2   True   True
3   True  False
4   True   True
5   True   True
6  False  False

In [27]:
data_e.eq(data_e_2).all(axis=1)

0     True
1    False
2     True
3    False
4     True
5     True
6    False
dtype: bool

In [29]:
data_e_2[data_e.eq(data_e_2).all(axis=1) == False]

  패션아이템   평점
1   스커트  6.0
3   티셔츠  3.0
6    패딩  8.0

In [30]:
data_e_2[data_e.ne(data_e_2).any(axis=1)]

  패션아이템   평점
1   스커트  6.0
3   티셔츠  3.0
6    패딩  8.0

In [3]:
data_e

  패션아이템   평점
0    팬츠  3.0
1   스커트  5.0
2    자켓  7.0
3   티셔츠  5.0
4  블라우스  2.0
5   베스트  4.0

In [6]:
data_e_3 = pd.DataFrame({    
    '패션아이템': ['팬츠', '모자', '자켓', '패딩', '스카프', '장갑', '스커트'],
    '평점': [3.0, 6.0, 7.0, 6.0, 7.0, 3.0, 5.0]
}) 
data_e_3

  패션아이템   평점
0    팬츠  3.0
1    모자  6.0
2    자켓  7.0
3    패딩  6.0
4   스카프  7.0
5    장갑  3.0
6   스커트  5.0

In [7]:
data_e_3[data_e.eq(data_e_3).all(axis=1)]

  패션아이템   평점
0    팬츠  3.0
2    자켓  7.0

In [8]:
name_new = data_e_3.rename({'평점': '평점_2차'}, axis=1)

data_merged = name_new.merge(data_e, how='left', 
                    left_on=['패션아이템','평점_2차'],
                    right_on=['패션아이템','평점'])

In [9]:
data_merged

  패션아이템  평점_2차   평점
0    팬츠    3.0  3.0
1    모자    6.0  NaN
2    자켓    7.0  7.0
3    패딩    6.0  NaN
4   스카프    7.0  NaN
5    장갑    3.0  NaN
6   스커트    5.0  5.0

In [10]:
data_e_3[data_merged['평점'].isna()]

  패션아이템   평점
1    모자  6.0
3    패딩  6.0
4   스카프  7.0
5    장갑  3.0

In [11]:
final_data = pd.concat([data_e, data_e_3[data_merged['평점'].isna()]], axis=0)

In [12]:
final_data

  패션아이템   평점
0    팬츠  3.0
1   스커트  5.0
2    자켓  7.0
3   티셔츠  5.0
4  블라우스  2.0
5   베스트  4.0
1    모자  6.0
3    패딩  6.0
4   스카프  7.0
5    장갑  3.0