In [13]:
x = [1, 2, 3]
y = x
print(y)

[1, 2, 3]

In [15]:
x.append(4) # x가 가리키는 리스트에 4를 추가
print(y)

[1, 2, 3, 4]

In [16]:
x = 7.5
print(x.real, "+", x.imag, 'i')

7.5 + 0.0 i

In [17]:
x = 7.5
x.is_integer()

False

In [18]:
x = 7.0
x.is_integer()

True

In [19]:
type(x.is_integer)

builtin_function_or_method

In [1]:
x=10
type(x)

int

In [2]:
x=0.000005
y=5e-6
print(x == y)

True

In [3]:
x = 1400000.00
y = 1.4e6
print(x == y)

True

In [7]:
A = '문자열을 만들어 봐요!'
B = "문자열은 이렇게 만들 수도 있어요~"
print(A, B)

문자열을 만들어 봐요! 문자열은 이렇게 만들 수도 있어요~

In [27]:
case1 = (5 < 10)
case1
type(case1)

bool

In [29]:
print(True, False)

True False

In [9]:
float(10)

10.0

In [10]:
s = '5.6328'
type(s)

str

In [11]:
f_value = float(s)
type(f_value)

float

In [12]:
int(f_value)

5

In [4]:
f_value = print('apple')
print(f_value)

apple
None

In [1]:
list_a = [1, 3, 5, None]
print(list_a)

[1, 3, 5, None]

In [19]:
tup = ('apple', 'orange', 'banana')
print(tup)
list_b = list(tup)
print(list_b)

('apple', 'orange', 'banana')
['apple', 'orange', 'banana']

In [20]:
len(list_b)

3

In [5]:
list_c = [1, 'apple', 5.76, 3, 7, [2, 4, 6, 8]]
print(list_c)

[1, 'apple', 5.76, 3, 7, [2, 4, 6, 8]]

In [6]:
list_d = [1, 3, 5, 7, 9, 2, 4, 6, 8, 10]
print(list_d[0])
print(list_d[2])

1
5

In [8]:
print(list_d[-1])
print(list_d[-3])

10
6

In [9]:
print(list_d[2:6])
print(list_d[-6:-2])

[5, 7, 9, 2]
[9, 2, 4, 6]

In [10]:
t = (1, 2, 3)
print(t)
t = 1, 2, 3
print(t)

(1, 2, 3)
(1, 2, 3)

In [11]:
a, b = 3, 5
print(a)
print(b)

3
5

In [12]:
b, a = a, b
print(a)
print(b)

5
3

In [20]:
tup = (1, 4, 3, 3, 2, 2, 5, 1, 1)
tup.count(1)

3

In [21]:
nums = {'one' : 1, 'two' : 2, 'three' : 3}
print(nums)

{'one': 1, 'two': 2, 'three': 3}

In [22]:
keys = nums.keys()
values = nums.values()
print(keys, values)

dict_keys(['one', 'two', 'three']) dict_values([1, 2, 3])

In [23]:
nums['two']

2

In [24]:
nums['four'] = 'some value'
print(nums)

{'one': 1, 'two': 2, 'three': 3, 'four': 'some value'}

In [25]:
set([1, 1, 1, 2, 3, 3,])

{1, 2, 3}

In [26]:
{1, 1, 1, 2, 3, 3}

{1, 2, 3}

In [27]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8,}

In [28]:
a.union(b)
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [29]:
a.intersection(b)
a & b

{3, 4, 5}

In [4]:
x = 3

if x < 0 :
    print('음수군요.')
elif x == 0 :
    print('0과 같군요.')
elif 0 < x < 5 :
    print('양수이지만 5보다는 작군요.')
else :
    print('양수이지만 5와 같거나 크네요.')

양수이지만 5보다는 작군요.

In [5]:
for n in [1, 3, 5, 7, 9] :
    print(n, end=' ')

1 3 5 7 9

In [37]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [40]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [15]:
num = 0 

for i in range(1, 21, 2):    # range에 시작 값, 마지막 값, 건너뛰는 값 지정 
     num = num + i         
print(num)

100

In [23]:
nums = [-8, 32, 7, -1, 15, 51]   # 숫자 리스트 정의

i = 0 
for num in nums: 
    i = i + 1 
    if num < 0 : 
        print('%d번째 숫자는 음수네요.' %i)
    elif 0 < num < 20 :
        print('%d번째 숫자는 양수이지만 20보다는 작군요.' %i)
    elif 21 < num < 40 :
        print('%d번째 숫자는 양수이지만 40보다는 작군요.' %i)
    else: 
        print('%d번째 숫자는 양수이고 50보다 크군요.' %i)

1번째 숫자는 음수네요.
2번째 숫자는 양수이지만 40보다는 작군요.
3번째 숫자는 양수이지만 20보다는 작군요.
4번째 숫자는 음수네요.
5번째 숫자는 양수이지만 20보다는 작군요.
6번째 숫자는 양수이고 50보다 크군요.

In [31]:
result = []
for i in range(10) :
    result.append(i * 2)
result

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [32]:
[i * 2 for i in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [33]:
text = ['am', 'banana', 'car', 'dark', 'drink', 'effect']
[x.upper() for x in text if len(x) > 3]

['BANANA', 'DARK', 'DRINK', 'EFFECT']

In [34]:
text_length = {len(x) for x in text}
text_length

{2, 3, 4, 5, 6}

In [35]:
set(map(len, text))

{2, 3, 4, 5, 6}

In [36]:
tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
simple_list = [x for tup in tuples for x in tup]
print(simple_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
items = [0, 5, 10, 15, 20]
for i in range(len(items)) :
    print(i, items[i])

0 0
1 5
2 10
3 15
4 20

In [39]:
for i, v in enumerate(items) :
    print(i, v)

0 0
1 5
2 10
3 15
4 20

In [40]:
li_1 = [0, 5, 10, 15, 20]
li_2 = [5, 25, 125, 256, 512]
for i, v in zip(li_1, li_2) :
    print(i, v)

0 5
5 25
10 125
15 256
20 512

In [41]:
sorted([9, 3, 1, 6, 8, 2, 5, 4, 7, 0])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
sorted('Happy day!')

[' ', '!', 'H', 'a', 'a', 'd', 'p', 'p', 'y', 'y']

In [44]:
def 함수명(입력 매개변수):
    코드 1
    코드 2
    [리턴값]

SyntaxError: invalid syntax (<ipython-input-44-13a17c9c8135>, line 1)

In [45]:
def plus(a, b):
    total = a + b
    return total

In [46]:
plus(5, 8)

13

In [47]:
def multiplication(a, b, c=5) :
    return a * b * c

In [48]:
multiplication(2, 4)

40

In [49]:
def show() :
    a = 5
    b = 3
    c = 7
    return a, b, c

In [50]:
show()

(5, 3, 7)

In [51]:
func_1 = lambda x: x * 3
li_1 = [2, 4, 6, 8, 10]

In [52]:
list(map(func_1, li_1))

[6, 12, 18, 24, 30]